/* Coolors Exported Palette - coolors.co/6b7a8f-f7882f-f7c331-dcc7aa-f7f7f2 */

/* HSL */
$color1: hsla(215%, 14%, 49%, 1);
$color2: hsla(27%, 93%, 58%, 1);
$color3: hsla(44%, 93%, 58%, 1);
$color4: hsla(35%, 42%, 76%, 1);
$color5: hsla(60%, 24%, 96%, 1);

/* RGB */
$color1: rgba(107, 122, 143, 1);
$color2: rgba(247, 136, 47, 1);
$color3: rgba(247, 195, 49, 1);
$color4: rgba(220, 199, 170, 1);
$color5: rgba(247, 247, 242, 1);