

@font-face {
  font-family: 'Gagalin';
	src: url('partials/fonts/gagalin.ttf') format('truetype');
};

@font-face {
	font-family: 'Swist';
	src:url('partials/fonts/swistbink/Swistblnk Banthers.otf') format('opentype'),
			url('partials/fonts/swistbink/Swistblnk Banthers.ttf') format('truetype');
};

@font-face {
	font-family: 'Born';
	src:url('partials/fonts/BornFF/Born.otf') format('opentype'),

};
@font-face {
	font-family: 'Plume';
	src:url('partials/fonts/PlumeFF/Plume-Free-Brush-Font.otf') format('opentype'),
};
@font-face {
  font-family: 'Variane';
	src: url('partials/fonts/VarianeScriptFF/Variane Script.ttf') format('truetype');
};
@font-face {
	font-family: 'Xplor';
	src:url('partials/fonts/XplorFF/XPLOR Bold-Regular.otf') format('opentype'),
};
