
.default-background {
	background-color: palette(blueberry);
.gray-background {
	background-color: rgba(255,255,255,0.7);
}

}
.display {
    font-family: Xplor;
		background-color: palette(blueberry);
		font-size: 5em;
		color: palette(blueberry);
		text-align: center

}

.shadow {
	text-shadow: 3px 5px 8px black;
}
body {
	font-family: Born;


}
