@import 'typography';
$yellow: #f4d06f;
$green: #85af1b;
$greengray: #abbdb1;
$blue: #3f4f5e;
$gray: #d6d5da;


.default-background {
	background-color: $gray;


}
.display {
    font-family: Gagalin;
		font-size: 5em;
		color: $green;
		text-align: center;
}
