@font-face {
  font-family: 'Gagalin';
	src: url('fonts/gagalin.ttf') format('truetype');
};

@font-face {
	font-family: 'Swist';
	src:url('fonts/swistbink/Swistblnk Banthers.otf') format('opentype'),
			url('fonts/swistbink/Swistblnk Banthers.ttf') format('truetype');
}
